footer {
 
  color: white;
  background: black;
  line-height: 1.7;
  position: relative;
}
footer div.inner {
  
  align-items: flex-end;
  position: relative;
}
footer a.top{
  
  font-size: 0;
  width: 50px;
  height: 50px;
  position: absolute;
  top: -25px;
  left: calc(50% - 25px);
  background-color: #000;
  padding: 0;
  transform: rotate(-90deg);
  transition: all 0.5s;
}
footer a.top:hover span{
  
  animation-name: none;
  display: none;
}
footer a.top:hover{
  background-color: #615e5e;
}
footer a.top::before{
right: calc(50% - 15px);
  background-color: white;
}
footer a.top::after{
  
right: 10px;
  border-color: white;
}
footer div.inner h1 {
  
}
footer div.inner .left {
  
}
footer div.inner .left::after{
  
  content: "URBAN LAUNDERETTE";
  width: 50%;
  height: 100px;
  color: #dda2a252;
  position: absolute;
  right: 0px;
  font-weight: 900;
  font-size: 60px;
  top: 50px;
  animation-name: ggam;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 1s;
}
@keyframes ggam{
  0%{
    opacity: 0;
  }
  50%{
    opacity: 1;
}
  100%{
    opacity: 0;
  }
}
footer div.inner .left .tel {
  
  font-size: 15px;
}
footer div.inner .left .tel p.phone {
  
}
footer div.inner .left .tel p.phone strong {
  
  display: block;
  font-size: 40px;
  line-height: 1;
  margin: 8px 0px 26px;
}
footer div.inner .left address {
  
  color: #999;
  margin-bottom: 100px;
  margin-top: 60px;
  font-size: 14px;
}
footer div.inner .left address span{
display: none;
}

footer div.inner .left ul.bnb {
  
  transform: translateX(-14px);
}
footer div.inner .left ul.bnb li {
  
  color: white;
  margin-top: 30px;
}
footer div.inner .left ul.bnb li a{
  
  padding: 15px 14px;
  font-size: 14px;
}
footer div.inner .left ul.bnb li:not(:first-child) a{
  
  color: gray;
}
footer div.inner .right {
  
}

footer div.inner .right ul.sns {
  
  margin-bottom: 100px;
}
footer div.inner .right ul.sns li {
  
}
footer div.inner .right ul.sns li a {
  
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  width: 20px;
  height: 20px;
  font-size: 0;
}
footer div.inner .right ul.sns li:nth-child(1) a{
  
  background-image: url(../img/f.svg);
}
footer div.inner .right ul.sns li:nth-child(2) a{
  
  background-image: url(../img/i.svg);
}
footer div.inner .right ul.sns li:nth-child(3) a{
  
  background-image: url(../img/blog.svg);
}
footer div.inner .right > a.email{
  color: #999;
}
footer div.inner .right > a.email::before{
  content: "";
  width: 100%;
  position: absolute;
  border-top: 1px solid #ccc;
  left: 0;
  transform: translateY(-50px);
}

}
