#title {
  height: 100%;
  background-color: #eee;
  min-height: 480px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
#title::before{
  content: "";
  display: block;
  position: absolute;
  width: 75%;
  height: 100%;
  background-color: black;
}

#title .inner {
  width: 80%;
  color: #eeeeee;
  position: relative;
  z-index: 1;
  height: 673px;
}

#title .inner .h2 {
  font-size: 65px;
  z-index: 1;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
}

#title .inner .h2 span{
  animation-duration: 1.3s;
    animation-name: h2up;
  animation-fill-mode: forwards;
  animation-direction: reverse;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
  display: block;
}

@keyframes h2up{
  0%{
    transform: translateY(0);
    opacity: 1;
  }
  100%{
    transform: translateY(100%);
    opacity: 0.4;
}
}
#title .inner p {
  position: relative;
  z-index: 1;
  
  overflow: hidden;
}
#title .inner .p span{
  display: block;
  animation-name: pup;
  animation-delay: 0.3s;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-direction: reverse;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
/* block요소여야 애니메이션 적용 */
}
@keyframes pup{
  0%{
    opacity: 1;
    transform: translateY(0);
  }
  50%{
   transform: translateY(100%);
  }
  100%{
opacity: 0;
    transform: translateY(100%);
}
}

#title .inner iframe{
  width: 1188px;
  height: 673px;
  position: absolute;
  bottom: 0;
  right: 0;
}
#title span.titleaside{
  
  position: absolute;
  right: calc((20% / 4) - 82px);
  bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 500px;
  justify-content: space-between;
  width: 164px;
}

#title span.titleaside a.campaign{
  
  transform: rotate(90deg) translateX(78px);
  transform-origin: 50% 50%;
  color: #aaa;
  font-weight: 700;
}

#title span.titleaside a.scroll{
  
  font-size: 20px;
  position: relative;
  animation-name: textcolor;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
@keyframes textcolor{
  0%{
    color: #000;
  }
  19%{
   
  color: #aaa;
}
  100%{
    color:#000;
  }
}
#title span.titleaside a.scroll::before{
  content: "";
  width: 15px;
  height: 15px;
  border: 3px solid;
  display: block;
  border-left: transparent;
  border-top: transparent;
  transform: scale(0.5) translateY(-10px)rotate(45deg);
  top: -30px;
  position: absolute;
  color: #000;
  animation-name: scrollani1;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  left: calc(50% - 7.5px);
}
@keyframes scrollani1{
  0%{
  opacity: 0;
  }
  10%{
opacity: 1;
  }

  100%{
opacity: 0;
  }
}
#title span.titleaside a.scroll::after{
  content: "";
  width: 15px;
  height: 15px;
  border: 3px solid;
  display: block;
  border-left: transparent;
  border-top: transparent;
  transform: scale(0.5) translateY(-10px)rotate(45deg);
  top: -20px;
  position: absolute;
  color: #999;
  animation-name: scrollani2;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  left: calc(50% - 7.5px);
}

@keyframes scrollani2{
  0%{
  opacity: 0;
  }
  10%{
    
opacity: 1;
  }

  100%{
opacity: 0;
  }
}